	body{
		display: block;
		margin:5px;
		

	}
	div{
		margin-bottom:1em;
	}
		div .bold {
			display:block;
			float: left;
			width:600px;
			margin-right:60px;
			text-align: right;
			font-weight: bolder;
		}
		div .simple {
			display:block;
			float:left;
			width:600px;
			margin-right:60px;
			text-align: right;
		}
		p{
			font-style: Monotype Corosive;
			font:color:grey;
			text-align: center;
			margin-bottom: 60px;
font-size: 20px;		}
		h1{
			text-align: center;
		}
		p .simple{
			display:block;
			float:left;
			width:600px;
			margin-right:60px;
			text-align: right;
		}
		body{
			background-color: grey;
			margin:5px;
		}